body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #9f99c9, #190e2e); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

li {
    font-size: 22px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 5px;
    width: 250px;
    text-align: center;
}

#back-home {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#back-home:hover {
    background-color: #0056b3;
}
